body
{
    margin: 0;
    padding:0 ;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(93, 236, 236);
    
}
.box
{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
.box input[type="email"],.box input[type="password"],.box input[type="name"],.box input[type="mobile"]
,.box input[type="date"],.box input[type="confirm"],.box input[type="address"],.box input[type="city"]
,.box input[type="pincode"]
{
    border: 0;
    border-radius: 30px;
    background: none;
    display: block;
    margin: 5px auto;
    text-align:center;
    border:2px solid lightblue;
    padding: 12px 10px;
    width: 200px;
    outline: none;
    color: white;
    transition: 0.8s;

}
.box h1
{
    color: white;

}
.box input[type="email"]:hover,.box input[type="password"]:hover,.box input[type="name"]:hover,.box input[type="mobile"]:hover
,.box input[type="date"]:hover,.box input[type="confirm"]:hover,.box input[type="address"]:hover,.box input[type="city"]:hover
,.box input[type="pincode"]:hover
{
    width: 280px;
    border-color: #2ecc71;

}
.box input[type="submit"]
{
    border: 0;
    border-radius: 30px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align:center;
    border:2px solid #2ecc71;
    padding: 10px 10px;
    width: 100px;
    align-items:center ;
    outline: none;
    color: white;
    transition: 0.5s;

}
.box input[type="submit"]:hover
{
    background-color: green;
}
.box a
{
    display: inline;
    padding: 3px 3px;
    text-decoration: none;
    color: #2ecc71;
}
.box a:hover
{
  color:white;
}